:root {
  --main-dark-color: #102a45;
  --main-light-color: #46a9f7;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-dark-color);
  text-decoration: none;
}

*:focus {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  overflow: hidden;
}

.container1 {
  padding: 0px 50px;
}

header {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h1 {
  position: relative;
  font-size: 22px;
  display: inline-block;
  color: var(--main-dark-color);
}

header .logo h1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 40%;
  background: #102a455e;
  bottom: 0px;
}

.form h1 {
  color: var(--main-dark-color);
  margin: 50px 0px;
}

.container1 .form {
  width: 100%;
}

.container1 input {
  padding: 10px;
  width: 50%;
  background: #eef7ff;
  border: 2px solid #d5e0eb;
  border-radius: 12px;
  min-width: 300px;
  font-weight: 500;
}

.container1 input::placeholder {
  font-weight: 400;
  opacity: 0.5;
}

input[type="submit"] {
  background-color: var(--main-light-color);
  border: none;
  color: white;
  height: 50px;
  margin: 10px 0px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.go-to-login {
  width: 50%;
  min-width: 300px;
}

.go-to-login p {
  font-weight: 500;
}

.go-to-login a {
  color: var(--main-light-color);
  font-weight: 600;
  cursor: pointer;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 750px) {
  body {
    grid-template-columns: 1fr;
  }

  .img {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100vw;
    z-index: -1;
    opacity: 0.05;
    transition: transform 0.3s ease;
  }
}
